# Spotify app credentials
CLIENT_ID=your_spotify_client_id
CLIENT_SECRET=your_spotify_client_secret
REFRESH_TOKEN=your_spotify_refresh_token
REDIRECT_URI=http://127.0.0.1:8888/callback
USER_NAME=your_spotify_user_id
TOP_100_SPOTIFY_PLAYLIST_ID=your_top_100_spotify_playlist_id
EIGHTIES_POP_ROCK_HITS_SPOTIFY_PLAYLIST_ID=your_eighties_pop_rock_hits_spotify_playlist_id
2000S_HITS_SPOTIFY_PLAYLIST_ID=your_2000s_hits_spotify_playlist_id
ZIM_OLD_SCHOOL_SPOTIFY_PLAYLIST=your_zim_old_school_spotify_playlist_id
SCOPES=playlist-modify-public playlist-modify-private

# YouTube credentials
API_KEY=your_youtube_api_key
TOP_100_YOUTUBE_PLAYLIST_ID=your_top_100_youtube_playlist_id
EIGHTIES_POP_ROCK_HITS_YOUTUBE_PLAYLIST_ID=your_eighties_pop_rock_hits_youtube_playlist_id
EIGHTIES_POP_ROCK_HITS_YOUTUBE_PLAYLIST_ID_1=your_eighties_pop_rock_hits_youtube_playlist_id_alt
ZIM_OLD_SCHOOL_YOUTUBE_PLAYLIST=your_zim_old_school_youtube_playlist_id
